/* styles.css */

/* Add styles here to customize the appearance of your app */
html {
  -webkit-app-region: drag;
	height: 100%;
}

body {
	-webkit-app-region: no-drag;
	height: 100%;
	margin: 0;
}

#content {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#drink {
	text-align: center;
}